* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
/* Header section */
header {
  min-height: 100vh;
}
/* navigation section */
nav {
  width: 85%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-middle {
  list-style: none;
  display: flex;
}
.navigation-middle li {
  padding: 0px 12px;
}
.navigation-middle > li > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.5s;
}
.navigation-middle > li > a:hover {
  color: #ffc222;
}
.navigation_right_section {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navigation_right_section button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #ffc222;
  border: 2px solid #ffc222;
  border-radius: 5px;
  color: white;
  transition: all 0.5s;
}
.navigation_right_section button:hover {
  background-color: white;
  color: #ffc222;
}
.navigation_right_section i {
  font-size: 18px;
}
.nav_cart {
  position: relative;
}
.nav_cart p {
  position: absolute;
  font-size: 11px;
  top: -9px;
  right: -7px;
  font-weight: bolder;
  padding: 1px 4px;
  background-color: black;
  color: white;
  border-radius: 50%;
}
.nav_cart i {
  color: #00a149;
}
.nav_cart i:last-child {
  font-size: 30px;
}

/* banner section starts */
.hero_container {
  border: 1px solid black;
  background-image: url("/images/hero-banner.png");
}
.hero_content_container {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero_left_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.hero_left_container h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 82px;
  color: white;
}
.hero_left_container .slogan {
  color: #ffc222;
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 10px;
}
.limited_offer_text {
  margin: 16px 0;
  font-weight: bolder;
  font-size: 22px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
}
.limited_offer_text span:last-child {
  font-size: 38px;
}
.hero_left_container button {
  background-color: #ee284b;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding: 10px 18px;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  border: 1px solid #ee284b;
}
.hero_left_container button:hover {
  background-color: white;
  color: #ee284b;
}
